.logoutpopup {
    position: fixed;
    display: inline-block;
   z-index: 1000;
    background:#00000050;
    width: 100%;
    padding-top: 170px;
    text-align: center;
    height: 100vh;
    top: 0;
    left: 0;
    
  }
  
  .logoutpopup .logoutbox {
    
    
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 50px;
    border: 1px solid #999;
    overflow: auto;
    text-align: center;
  }
  
  
  .logoutbox #button{
    background-color: wheat;
    color: grey;
    font-size: large;
    padding: 10px;  
    cursor: pointer;
    border: none;
  }
  .logoutpopup .logoutclose-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(31% - 10px);
    top: calc(100vh - 65vh - 10px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }