.column{
    display: flex;
    background-image: linear-gradient(#303f9f, rgb(78, 147, 211));
    width: 100%;
    height:calc(100% - 50px);
    flex-wrap: nowrap;
    justify-content: space-evenly;
  
   
    /* margin-left: 3%; */
   
}
.column .row{
    background-color: #afbfbf;
    position: relative;
    text-align: center;
    margin-right: 10px;
    margin: 10px;
    width: 25%;
    border-radius: 2%;
    /* height: fit-content; */
   /* max-width:max-content; */


}
.column .btnaction{
    color:grey;
    border: none;
    background-color: #afbfbf;
     size: 20px;
    font-family:sans-serif;
    cursor: pointer;

}
.column .heading{
    color: black;
    font-family: sans-serif;
    
    
}

.captionTask{
    font-weight: bold;
}
.item{
    /* display: flex; */
    /* flex-direction:row; */
   width: 70%;
    height: 70px;
    background-color: #ffffff;
    /* margin-left: 20px; */
    margin-top: 5px;
    border-radius: 5px 5px;
    z-index: 4;
    transition: 1s;
    margin-left: 2%; 
    margin-right: 2%; 
    
    color: rgb(15, 14, 14);
    /* opacity: 80%; */
    text-align: left;
    padding: 2px 15px;
    overflow-x: none;
    
}
