.login .left_box{
    /* height: 100%;
    width: 50%; */
    position: fixed;
    z-index: 1;
    /* top: 0; */
    overflow-x: hidden;
    /* padding-top: 70px;
    margin-left: 10%; */
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   }
  
   .login .form input{
    
    width: 250px;
    border: 0;
    
    padding: 10px;
    
    font-size: 14px;
    outline: 1 white;
    background-color: #f2f2f2;
    border-radius: 25px;
    border: 2px solid #ede6f1;
    padding-left: 45px;
    
}
.login .form button{
    outline: 0;
    text-transform: uppercase;
    color: white;
    width: 300px;
    border: 2px solid #d62828;
    border-radius: 25px;
    padding: 10px;
    background:#d62828;
    cursor: pointer;
}

.login .icon{
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color:black;
    border: 1px solid wheat;
    border-radius: 50%;

}
/* .login .icon{
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color:black;
    border: 1px solid wheat;
    border-radius: 50%;

} */

.register_error{
    font-size: 13px;
    font-style: bold;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
.login .left_box #p1{
    padding-left: 10%; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.register .left_box #p2{
    padding-left: 30%; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.logocls{
    margin-left: 15%;
}
.login .welcome{
    margin-left:20%;
}

