button{
    cursor: pointer;
}

.userWelcome{
    font-family: 'Times New Roman', Times, serif;
    font-size:12px;

}


.home #selectButton{
    background-color: white;
    border: none;
  
    color: rgb(10, 10, 10);
    font-size: 25px;
    outline: none;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    
}

.home .header .left{
   padding-bottom: inherit;
    /* padding-right: 900px; */
    display: flex;
    float: left;
    
}
/* .home .header .right{
    text-align: right;
    float: right;
    border: none;

    
} */
.home .header #selectButton.selected{
    border-bottom: 4px solid cornflowerblue;
    
    
}
.home .header{
    padding: 10px;
   
    
    
}
.logout_btn{
    float: right;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: white;
}
