.register .registerleft-box{
    height: 100%;
     width: 50%;
     position: fixed;
     z-index: 1;
     top: 0;
     overflow-x: hidden;
     padding-top: 70px;
     
   }
   .register .form input{
    
    width: 250px;
    border: 0;
    
    padding: 10px;
    
    font-size: 14px;
    outline: 1 white;
    background-color: #f2f2f2;
    border-radius: 25px;
    border: 2px solid #ede6f1;
    padding-left: 45px;
}
.register .registerleft-box #p1{
    padding-left: 40px; 
    font-size: 20px;
   
}
.register .form button{
    outline: 0;
    text-transform: uppercase;
    color: white;
    width: 300px;
    border: 2px solid #d62828;
    border-radius: 25px;
    padding: 10px;
    background:#d62828;
    padding-bottom: 10px;
    cursor: pointer;
}
.register .error{
    font-size: 12px;
    font-style: italic;
}

.register .icons{
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color:black;
    border: 1px solid wheat;
    border-radius: 50%;

}

.register .inputicon{
    position: absolute ;
    margin-right: 18px;
    margin-top: 1px;
    width: 44px;
    padding-top: 8px ;
    height: 36px;
    padding-left: 10px;
    

}